API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
NEXT_PUBLIC_MAPYCOM_API_KEY=your_mapycom_api_key
NEXT_PUBLIC_WEBPUSHR_PUBLIC_KEY=your_webpushr_public_key
GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
