.git
.github
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache
.DS_Store

.env
.env.*
!.env.example
README-private.md
deploy/env/

apps/web/.next
apps/web/node_modules
apps/web/.env.local

apps/api/.venv
apps/api/.env
